*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#prt1{
    background-image: url("images/image_top.jpg");
    background-size: cover;
    height: 600px;
    width: auto;
    
}
#logo{
    position: relative;
    bottom: -10%;
}
#mclick{
    position: relative;
    bottom: -40%;
}
.headers{
    position: relative;
    bottom: -20%;
    color: whitesmoke;
}
.about{
    padding: 30px;
    text-align: center;
}
.about p{
    font-size: small;
}

#prt2{
    background-image: url("images/image_mid.jpg");
    background-size: cover;
    height: 350px;
}
.cont2{
    position: relative;
    top: 30%;
    text-align: center;
    color: whitesmoke;
    font-size: small;
}
#prt3{
    padding: 50px;
}
.clm{
    float: left;
    width: 33.33%;
    padding: 2%;   
}
.clm img{
    padding: 0%;
    position: relative;
    left: 40%;
}
.clm p{
    text-align: center;
    font-size: medium;
}

#prt3 h4{
    text-align: center;
}

#prt4{
    padding: 50px;
}
#prt4 h4{
    text-align: center;
}
.column{
    float: left;
    width: 25%;
    padding: 20px;
}
.column img{
    height: 220px;
}





